body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(to top, #ffffff, #f0f0f0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin: 0px 0 10px 0;
}

.carousel-button{
  display: none;
}

.canYouLike {
  font-size: 18px;
  font-weight: 600;
}

#products {
  display: flex;
  flex-direction: column;
}

.product {
  width: 100px;
  margin-bottom: 10px;
}

.yourCart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: stretch;
  margin-left: 50px;
  margin-right: 50px;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 10px solid #f7f7f7;
  background-color: white;
  box-shadow: inset 0px 0 8px 6px rgba(0, 0, 0, 0.1);
}

  .cart-item img {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 30px;
    padding-left: 10px;
  }

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

  .cart-item-info h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .cart-item-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }

#quantity {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  text-align: center;
  margin-top: 10px;
}

.cart-item-remove button {
  background-color: #e74c3c;
  color: #fff;
  height: 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 20px;
  transition: color, background-color 0.15s ease;
}

  .cart-item-remove button:hover {
    background-color: #c0392b;
  }

.cart-summary {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

  .cart-summary p {
    margin-right: 16px;
  }

#checkout-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.15s ease, transform 0.1s ease;
}

  #checkout-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
  }

.rightBan {
  width: 26%;
  margin: 18px 0px 0px 0;
}

@media (max-width: 950px) {
  .yourCart {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 847px) {
  .rightBan {
    display: none;
  }
}


@media (max-width: 768px) {
  .yourCart {
    width: 90%;
    align-items: stretch;
    margin-bottom: 30px;
  }

  .cart-item {
    width: 100%;
  }

  .canYouLike {
    width: 100%;
    position: relative;
  }

  .cart-container {
    flex-direction: column-reverse;
    padding: 15px;
  }

  #carousel-container {
    overflow: auto;
    width: 90%;
    margin: 0 auto;
  }

    #carousel-container::-webkit-scrollbar {
      display: none;
    }

  #carousel-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #products {
    flex-direction: row;
  }

  .product {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .carousel-button {
    display: flex;
  }

  .rightBan {
    display: none;
  }
}

@media (max-width: 768px) {
  .yourCart {
    margin-left: 25px;
  }
}

@media (max-width: 400px) {
  .cart-item img {
    margin-right: 0px;
  }

  .cart-item-info {
    min-width: 107px;
  }
}

@media (max-width: 365px) {
  .cart-item-info div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .cart-item-info label {
    margin-right: 5px;
  }

  .cart-item {
    flex-direction: column;
    text-align: center;
  }
}