#top-selling-grid {
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
  background: linear-gradient(to top, #ffffff, #f0f0f0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#name-bar {
  padding-top: 10px;
  margin: 15px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#see-all {
  text-align: right;
  margin: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #007bff;
}

#carousel-container {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

  #carousel-container::-webkit-scrollbar {
    display: none;
  }

#products {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.product {
  min-width: 180px;
  max-width: 250px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

  .product:last-child {
    margin-right: 0;
  }

  .product:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }

  .product img {
    width: 100%;
    border-radius: 10px;
  }

.discount {
  background: #f00;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.product-info {
  margin-top: 10px;
}

.product-details {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #f00;
  font-weight: 700;
  margin: 5px 0;
}

.product-price-before {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000b8;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-button {
  left: 10px;
  z-index: 1;
}

#right-button {
  right: 10px;
  z-index: 1;
}

